/* App Styles */
/* *********** */

#app_secondcontainer {
  max-width: 40%;
  padding-top: 0%;
  margin: 0% auto;
}

@media screen and (max-width: 900px) {
  #App_firstcontainer {
    max-width: 90%;
  }
}

.heropanel--video {
  font-family: sans-serif;
  min-height: 500px;
}

@keyframes gm-slidein {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    -webkit-transform: none;
    opacity: 1;
    transform: none;
  }
}

.heropanel__content {
  -moz-animation: gm-slidein 3s 1;
  -ms-animation: gm-slidein 3s 1;
  -o-animation: gm-slidein 3s 1;
  -webkit-animation: gm-slidein 3s 1;
  animation: gm-slidein 3s 1;
  border-bottom: 1px solid #fff;
  margin: 0 auto;
  max-width: 50%;
  padding: 4em 0 2em;
  text-align: center;
}

.heropanel__content h1 {
  margin: 0 0 0.5em;
  text-transform: uppercase;
}

.heropanel__content h1 a {
  color: #fff;
  text-decoration: none;
}

.heropanel__content p {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}

.section {
  padding: 0;
}

/*Nav styles */
/*******************/

.container {
  background-color: #eee;
}
/* Login styles */
/* *********** */

#Login_btn {
  background-color: #2ec4b6;
}

#register_submit {
  background-color: #2ec4b6;
}

/*LoginNav*/

#LoginNav_firstcontainer {
  max-width: 100%;
  padding-top: 0%;
  margin: 2% auto 0%;
}

#LoginNav_title {
  color: #2f2f2f;
  padding-bottom: 2%;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}

#LoginNav_subhead {
  color: #2f2f2f;
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
}

#LoginNav_Hero {
  background: #eee;
  box-shadow:
    /* The top layer shadow */ 0 -1px 1px rgba(0, 0, 0, 0.15),
    /* The second layer */ 0 -10px 0 -5px #eee,
    /* The second layer shadow */ 0 -10px 1px -4px rgba(0, 0, 0, 0.15),
    /* The third layer */ 0 -20px 0 -10px #eee,
    /* The third layer shadow */ 0 -20px 1px -9px rgba(0, 0, 0, 0.15);
  /* Padding for demo purposes */
  padding: 30px;
}
/* History styles */
/* *********** */

#history_container {
  margin-top: 2%;
  display: flex;
}

#h_left {
  width: 30%;
  height: 80vh;
  background-color: rgb(35, 211, 211);
  margin-bottom: 3%;
  margin-right: 2%;
  border: 1px solid black;
  border-radius: 4px;
}

#h_right {
  width: 70%;
  height: 80vh;
  padding: 0px;
  margin: 0;
}

#hero_history {
  max-height: 10%;
  padding-top: 0px;
}

#hero_body {
  padding: 1%;
}

#historycontainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#title_history {
  padding-top: 2.5%;
  text-align: center;
}

#history_meeting {
  margin-top: 1.5%;
}

.tile.is-parent {
  padding: 0 !important;
}

#attendeesviewcontainer {
  margin-top: 10%;
}
